<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>nav</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <ul>
                <li class="list-group-item">
                    <a sec:authorize="isAuthenticated()"
                       class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       href="/logout">Logout</a>
                    <a sec:authorize="isAnonymous()"
                       class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       th:href="@{/singin}">Login</a>
                </li>
                <li class="list-group-item">
                    <a th:if="${url =='/register'}"
                       class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       href="/register">Register</a>
                    <a th:unless="${url == '/register'}"
                       class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                       href="/register">Register</a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                        <li class="nav-item">
                            <a th:if="${url=='/'}" class="nav-link active" href="/">Home</a>
                            <a th:unless="${url=='/'}" class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${url=='/about'}" class="nav-link active" href="/about">About</a>
                            <a th:unless="${url=='/about'}" class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${url =='/private'}" class="nav-link active" href="/private">Private(for registered</a>
                            <a th:unless="${url == '/private'}" class="nav-link" href="/private">Private(for registered)</a>
                        </li>
                        <li>
                            <a th:if="${url =='/managePizza'}" class="nav-link active"
                               href="/managePizza">Manage-Pizza(for admin)</a>
                            <a th:unless="${url == '/managePizza'}" class="nav-link"
                               href="/managePizza">Manage-Pizza(for admin)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
