<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/margarita.jpeg" type="image/png">
    <meta charset="UTF-8">
    <title>Buy Pizza</title>
</head>
<body>
<div class="container input-group w-30 d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
        <h2>Buy Pizza</h2>
        <img th:src="@{/images/{image}(image=${pizza.imageName})}" height="400px">
        <div class="card-body">
            <div class="card" style="width: 38rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div th:text="${pizza.name}" class="col"></div>
                    </li>
                    <li class="list-group-item">
                        <div th:text="${pizza.ingredients}" class="col"></div>
                    </li>
                    <li class="list-group-item">
                        <div th:text="${pizza.price}" id="pricePizza" class="col"></div>
                    </li>
                    <li class="list-group-item">
                        <dt class="col-sm-3">Select quantity</dt>
                        <select class="from-select col" id="selectAmount"
                                aria-label="Select Pizza amount">
                            <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}">
                            </option>
                        </select></li>
                    <li class="list-group-item">
                        <div id="totalPrice"></div>
                    </li>
                </ul>
                <div class="card-footer">
                    <div class="rov m-3">
                        <a href="/submitPayment" class="btn btn-success col">Buy</a>
                        <a class="btn btn-danger w-10 col" href="/" type="button">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="/js/buyPizza.js"></script>
</body>
</html>