<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/margarita.jpeg" type="image/png">
    <title>Success</title>
</head>
<div class="container input-group w-50 d-flex justify-content-center">
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <h1>Pizzza !!! Yor order has been placed Successfully!</h1>
            </li>
            <li class="nav-item">
                <h1>You can pick up your order in 30 minutes at...</h1>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="rov m-3">
        <a class="btn btn-success col" href="/" type="button">Go Back</a>
        </div>
    </div>
</div>
</div>
</body>
</html>